@model GeekShopping.web.Models.CartViewModel

@if (TempData["Error"] != null)
{
    <div class="alert alert-warning" role="alert">@TempData["Error"]</div>
}


@if (Model != null && Model.CartDetails.Count() > 0)
{
    <form method="post">
        <input asp-for="CartHeader.UserId" hidden />
        <input asp-for="CartHeader.Id" hidden />
        <input asp-for="CartHeader.CouponCode" hidden />
        <input asp-for="CartHeader.DiscountTotal" hidden />
        <input asp-for="CartHeader.PurchaseAmount" hidden />
        <input asp-for="CartHeader.ShippingCost" value="0" hidden />

        <div>
            <span style="font-size:25px;" class="text-warning"> Enter details and place order:</span>
            <br />
        </div>

        <div class="border mt-2">
            <div class="container row">
                <div class="col-7">
                    <div class="row">
                        <div class="col-12">
                            <label class="col-form-label">First Name: </label>
                            <input asp-for="CartHeader.FirstName" class="form-control" />
                            <span asp-validation-for="CartHeader.FirstName" class="text-danger"></span>
                        </div>
                        @* PersonalInfo *@
                        <div class="col-12">
                            <label class="col-form-label">Last Name: </label>
                            <input asp-for="CartHeader.LastName" class="form-control" />
                            <span asp-validation-for="CartHeader.LastName" class="text-danger"></span>
                        </div>
                        <div class="col-12">
                            <label class="col-form-label">E-mail: </label>
                            <input asp-for="CartHeader.Email" class="form-control" type="email" />
                            <span asp-validation-for="CartHeader.Email" class="text-danger"></span>
                        </div>
                        <div class="col-12">
                            <label class="col-form-label">Phone Number: </label>
                            <input asp-for="CartHeader.Phone" class="form-control" maxlength="11" />
                            <span asp-validation-for="CartHeader.Phone" class="text-danger"></span>
                        </div>

                        @* Endereço *@

                        <div class="col-12">
                            <label class="col-form-label">Address: </label>
                            <input asp-for="CartHeader.Address" class="form-control" maxlength="100" />
                            <span asp-validation-for="CartHeader.Address" class="text-danger"></span>
                        </div>

                        <div class="col-12">
                            <label class="col-form-label">Number: </label>
                            <input asp-for="CartHeader.NumberAddress" class="form-control" maxlength="5" />
                            <span asp-validation-for="CartHeader.NumberAddress" class="text-danger"></span>
                        </div>

                        <div class="col-12">
                            <label class="col-form-label">ZipCode: </label>
                            <input asp-for="CartHeader.ZipCode" class="form-control" maxlength="8" placeholder="Use only numbers." />
                            <span asp-validation-for="CartHeader.ZipCode" class="text-danger"></span>
                        </div>
                        @* Endereço *@

                        <div class="col-14">
                            <div class="card mt-4">
                                <div class="card-body">
                                    <div class="row text-danger">
                                        <div class="col-6">
                                            Payment Card:
                                        </div>
                                    </div>
                                    @* CreditCard *@
                                    <div class="col-12">
                                        <label class="col-form-label">Card Number: </label>
                                        <div class="input-group">
                                            <input asp-for="CartHeader.CardNumber" id="cardNumber" type="text" class="form-control" oninput="updateCardIcon()" />
                                            <span id="cardIcon" class="input-group-text fa fa-credit-card fa-2x"></span>
                                        </div>
                                        <span asp-validation-for="CartHeader.CardNumber" class="text-danger"></span>
                                    </div>
                                    <div class="row">
                                        <div class="col-6">
                                            <label class="col-form-label">CVV: </label>
                                            <input asp-for="CartHeader.CVV" class="form-control" maxlength="4" pattern="\d{3,4}" />
                                            <span asp-validation-for="CartHeader.CVV" class="text-danger"></span>
                                        </div>
                                        <div class="col-6 pb-4">
                                            <label class="col-form-label">Expire Date: </label>
                                            <input asp-for="CartHeader.ExpireMothYear" placeholder="MM/YY" oninput="applyMask(this)" onblur="validateExpiryDate(this)" class="form-control" pattern="\d{2}/\d{2}" title="Please enter in the format MM/YY" />
                                            <span asp-validation-for="CartHeader.ExpireMothYear" class="text-danger" id="expiryError"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br />
                    </div>

                </div>
                <div class="col-5">
                    <div class="card mt-4">
                        <div class="card-body">
                            <div class="d-none d-lg-block">
                                <div class="row text-danger">
                                    <div class="col-6">
                                        Product Details
                                    </div>
                                    <div class="col-3">
                                        Price
                                    </div>
                                    <div class="col-3">
                                        Count
                                    </div>
                                </div>
                            </div>
                            <hr />
                            @foreach (var item in Model.CartDetails)
                            {
                                <div class="row h100">
                                    <div class="col-6">
                                        <span style="font-size:18px;">
                                            @string.Format("{0:c}", item.Product.Name)
                                        </span>
                                    </div>
                                    <div class="col-3" style="font-size:15px;">
                                        <span>
                                            @string.Format("{0:c}", item.Product.Price)
                                        </span>
                                    </div>
                                    <div class="col-3" style="font-size:15px;">
                                        <span>
                                            @item.Product.Count
                                        </span>
                                    </div>
                                </div>
                                <hr style="border: 1px dashed black;" />
                            }
                            <div class="row">
                                <div class="col-12 text-right pr-4 text-danger">
                                    Purchase Amount: @string.Format("{0:c}", Model.CartHeader.PurchaseAmount)
                                    <br />
                                    @if (Model.CartHeader.DiscountTotal > 0)
                                    {
                                        <span class="text-success" style="font-size:18px;">
                                            Discount Amount: @string.Format("{0:c}", Model.CartHeader.DiscountTotal)
                                        </span>
                                    }
                                </div>
                            </div>

                        </div>
                        <div class="card-footer">
                            <div class="row">
                                <div class="col-12">
                                    <button type="submit" class="btn btn-success form-control">
                                        <span>Place Order</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card mt-4">
                        <div class="card-body">
                            <div class="d-none d-lg-block">
                                <div class="row text-danger">
                                    Select shipping:
                                </div>
                                <br />
                                <div class="row text-dark list-group-item">
                                    <div class="col-6"></div>
                                    <figure style="display: flex; align-items: center;">
                                        <div style="justify-content: flex-start; margin-left: 0px; line-height: 20px;">
                                            <input type="radio" id="Value1" name="Value_shipping" value="R$ 12.05">
                                            <span style="margin-left: 3px;"> R$ 12.05  </span>
                                            <span>Service:</span>
                                            <span style="font-weight: bold;">PAC</span>
                                            <span>Term:</span>
                                            <span>3 - 5 days</span>
                                        </div>
                                        <img decoding="async" src="https://sandbox.melhorenvio.com.br/images/shipping-companies/correios.png" style="width: 120px; height: 25px; margin-left: auto;" />
                                    </figure>
                                </div>

                                <div class="row text-dark list-group-item">
                                    <div class="col-6"></div>
                                    <figure style="display: flex; align-items: center;">
                                        <div style="justify-content: flex-start; margin-left: 0px; line-height: 20px;"> 
                                            <input type="radio" id="Value1" name="Value_shipping" value="R$ 15.00">
                                            <span style="margin-left: 3px;"> R$ 15.00  </span>
                                            <span>Service:</span>
                                            <span style="font-weight: bold;">SEDEX</span>
                                            <span>Term:</span>
                                            <span>2 - 4 days</span>
                                        </div>
                                        <img decoding="async" src="https://sandbox.melhorenvio.com.br/images/shipping-companies/correios.png" style="width: 120px; height: 25px; margin-left: auto;" />
                                    </figure>
                                </div>

                                 
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-5">
                    
                </div>

            </div>
        </div>
    </form>
}



