@model GeekShopping.web.Models.CartViewModel

@if (TempData["Error"] != null)
{
    <div class="alert alert-warning" role="alert">@TempData["Error"]</div>
}

@if (Model != null && Model.CartDetails.Count() > 0)
{
    <form method="post">
        <input asp-for="CartHeader.UserId" hidden />
        <input asp-for="CartHeader.Id" hidden />
        <input asp-for="CartHeader.CouponCode" hidden />
        <input asp-for="CartHeader.DiscountTotal" hidden />
        <input asp-for="CartHeader.PurchaseAmount" hidden />
        <input asp-for="CartHeader.ShippingCost" value="0" hidden />

        <div>
            <span style="font-size:25px;" class="text-warning">Enter details and place order:</span>
            <br />
        </div>

        <div class="border mt-2">
            <div class="container row">
                <div class="col-7">
                    <div class="row">
                        <div class="col-12">
                            <label class="col-form-label">First Name: </label>
                            <input asp-for="CartHeader.FirstName" class="form-control" />
                            <span asp-validation-for="CartHeader.FirstName" class="text-danger"></span>
                        </div>
                        <div class="col-12">
                            <label class="col-form-label">Last Name: </label>
                            <input asp-for="CartHeader.LastName" class="form-control" />
                            <span asp-validation-for="CartHeader.LastName" class="text-danger"></span>
                        </div>
                        <div class="col-12">
                            <label class="col-form-label">E-mail: </label>
                            <input asp-for="CartHeader.Email" class="form-control" type="email" />
                            <span asp-validation-for="CartHeader.Email" class="text-danger"></span>
                        </div>
                        <div class="col-12">
                            <label class="col-form-label">Phone Number: </label>
                            <input asp-for="CartHeader.Phone" class="form-control" maxlength="11" />
                            <span asp-validation-for="CartHeader.Phone" class="text-danger"></span>
                        </div>

                        @* Endereço *@

                        <div class="col-12">
                            <label class="col-form-label">Address: </label>
                            <input asp-for="CartHeader.Address" class="form-control" maxlength="100" />
                            <span asp-validation-for="CartHeader.Address" class="text-danger"></span>
                        </div>

                        <div class="col-12">
                            <label class="col-form-label">Number: </label>
                            <input asp-for="CartHeader.NumberAddress" class="form-control" maxlength="5" />
                            <span asp-validation-for="CartHeader.NumberAddress" class="text-danger"></span>
                        </div>

                        <div class="col-12">
                            <label class="col-form-label">ZipCode: </label>
                            <input asp-for="CartHeader.ZipCode" id="ZipCodeInput" class="form-control" maxlength="8" placeholder="Use only numbers." />
                            <span asp-validation-for="CartHeader.ZipCode" class="text-danger"></span>
                        </div>

                        <div class="col-12">
                            <label class="col-form-label">Card Number: </label>
                            <div class="input-group">
                                <input asp-for="CartHeader.CardNumber" id="cardNumber" type="text" class="form-control" oninput="updateCardIcon()" />
                                <span id="cardIcon" class="input-group-text fa fa-credit-card fa-2x"></span>
                            </div>
                            <span asp-validation-for="CartHeader.CardNumber" class="text-danger"></span>
                        </div>

                        <div class="row">
                            <div class="col-6">
                                <label class="col-form-label">CVV: </label>
                                <input asp-for="CartHeader.CVV" class="form-control" maxlength="4" pattern="\d{3,4}" />
                                <span asp-validation-for="CartHeader.CVV" class="text-danger"></span>
                            </div>
                            <div class="col-6 pb-4">
                                <label class="col-form-label">Expire Date: </label>
                                <input asp-for="CartHeader.ExpireMothYear" placeholder="MM/YY" oninput="applyMask(this)" onblur="validateExpiryDate(this)" class="form-control" pattern="\d{2}/\d{2}" title="Please enter in the format MM/YY" />
                                <span asp-validation-for="CartHeader.ExpireMothYear" class="text-danger" id="expiryError"></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-5">
                    <div class="card mt-4">
                        <div class="card-body">
                            <div class="d-none d-lg-block">
                                <div class="row text-danger">
                                    <div class="col-6">Product Details</div>
                                    <div class="col-3">Price</div>
                                    <div class="col-3">Count</div>
                                </div>
                            </div>
                            <hr />
                            @foreach (var item in Model.CartDetails)
                            {
                                <div class="row h100">
                                    <div class="col-6">
                                        <span style="font-size:18px;">
                                            @item.Product.Name
                                        </span>
                                    </div>
                                    <div class="col-3" style="font-size:15px;">
                                        <span>
                                            @string.Format("{0:c}", item.Product.Price)
                                        </span>
                                    </div>
                                    <div class="col-3" style="font-size:15px;">
                                        <span>
                                            @item.Count
                                        </span>
                                    </div>
                                </div>
                                <hr style="border: 1px dashed black;" />
                            }
                            <div class="row">
                                <div class="col-12 text-right pr-4 text-danger">
                                    Purchase Amount: <span id="purchase-amount">@string.Format("{0:c}", Model.CartHeader.PurchaseAmount)</span>
                                    <br />
                                    @if (Model.CartHeader.DiscountTotal > 0)
                                    {
                                        <span class="text-success" style="font-size:18px;">
                                            Discount Amount: @string.Format("{0:c}", Model.CartHeader.DiscountTotal)
                                        </span>
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="row">
                                <div class="col-12">
                                    <button type="submit" class="btn btn-success form-control">
                                        <span>Place Order</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="shipping-view">

                    </div>
                </div>

            </div>
        </div>
    </form>
}

@section Scripts {
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
           $('#ZipCodeInput').on('blur', function() {
            let zipCode = $(this).val();

            if (zipCode) {
                let shipmentRequest = {
                    from: {
                        postal_code: zipCode
                    },
                    to: {
                        postal_code: "82590300"
                    },
                    package: {
                        height: 10,
                        width: 10,
                        length: 10,
                        weight: 10
                    }
                };

                //  console.log("Enviando solicitação de cálculo de frete...");

                $.ajax({
                    url: '/Cart/CalculateShipping',
                    type: 'POST',
                    data: JSON.stringify(shipmentRequest),
                    contentType: 'application/json',
                    headers: {
                        'Accept': 'application/json'
                    },
                    success: function(response) {
                        let shippingOptions = response.shippingOptions;

                        //console.log("Response:", response); // Inclui para verificar se os objetos retornavam... Caso queira retirar, fique à vontade.

                        // Limpo os id's, houve um bug de duplicação de tags e este é o contingente.
                        $('#shipping-options').empty();
                        $('#shipping-view').empty();

                        console.log("Response:", "Passou por aqui!"); // Teste

                        if (response.length > 0) {
                            $("#shipping-view").append(`<div class="card mt-4">
                        <div class="card-body">
                            <div class="d-none d-lg-block">
                                <div class="row text-danger">Select shipping:</div>
                                <br />
                                <div id="shipping-options" class="row text-dark list-group-item"></div>
                            </div>
                        </div>
                    </div>`);
                        }

                        response.forEach(function(opt) {
                            if (opt.error) {
                                $('#shipping-options').append(`
                               <div class="col-12">
                                   <figure style="display: flex; align-items: center;">
                                       <div style="justify-content: flex-start; margin-left: 0px; line-height: 20px;">
                                           <span style="color: red;">${opt.error}</span>
                                       </div>
                                       <img decoding="async" src="${opt.company.picture}" style="width: 120px; height: 25px; margin-left: auto;" />
                                   </figure>
                               </div>
                            `);
                            } else {
                                $('#shipping-options').append(`
                                <div class="col-12">
                                    <figure style="display: flex; align-items: center;">
                                        <div style="justify-content: flex-start; margin-left: 0px; line-height: 20px;">
                                            <input type="radio" id="${opt.id}" name="Value_shipping" value="${opt.name}">
                                            <span style="margin-left: 3px;">R$ ${opt.custom_price ? parseFloat(opt.custom_price).toFixed(2) : 'N/A'}</span>
                                            <span>Service:</span>
                                            <span style="font-weight: bold;">${opt.name}</span>
                                            <span>Term:</span>
                                            <span>${opt.delivery_range ? opt.delivery_range.min : 'N/A'} - ${opt.delivery_range ? opt.delivery_range.max : 'N/A'} days</span>
                                        </div>
                                        <img decoding="async" src="${opt.company.picture}" style="width: 120px; height: 25px; margin-left: auto;" />
                                   </figure>
                             </div>
                              `);
                            }
                        });
                    },
                    error: function(error) {
                        console.error("Error calculating shipping: ", error);
                    }
                });
            } else {
                console.error("Error: ZipCode is empty.");
            }
        });
</script>


}
