@model IEnumerable<GeekShopping.web.Models.ProductViewModel>
<form>
    <div class="container">
        <div class="row">
            @foreach (var product in Model)
            {
                List<ImageViewModel> listImages = product.Images.ToList();
                <div class="col-md-4">
                    <div class="card mb-4">

                        <div id="carouselExampleControls-@product.Id" class="carousel slide" data-bs-ride="false">
                            <div class="carousel-inner">
                                @if (product.Images != null)
                                {
                                    for (int i = 0; i < listImages.Count; i++)
                                    {
                                        string active = i == 0 ? "active" : "";
                                        <div class="carousel-item @active">
                                            <img src="@listImages[i].BaseImage" class="d-block w-100" style="height:187.42px">
                                        </div>
                                    }
                                }
                            </div>
                            @if (listImages.Count > 1)
                            {
                                <a class="carousel-control-prev" href="#carouselExampleControls-@product.Id" role="button" data-bs-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Anterior</span>
                                </a>
                                <a class="carousel-control-next" href="#carouselExampleControls-@product.Id" role="button" data-bs-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Próximo</span>
                                </a>
                            }
                        </div>

                        <div class="card-body">
                            <h5 class="card-title text-success">@product.SubstringName()</h5>
                            <span class="badge badge-light mb-2">@product.CategoryName</span>
                            <p class="card-text">@Html.Raw(@product.SubstringDescription())</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <span style="font-size:23px;">@string.Format("{0:c}", @product.Price)</span>
                                <a asp-action="Details" asp-route-id="@product.Id" class="btn btn-success">Details</a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</form>

<script src="https://cdn.jsdelivr.net/npm/popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz4fnFO9q9vPz6b6gZiE+N3ABpiB15n6j/tWn9iRmfUQF7D7HgeYx4sE8i" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-pprnA5Atb6Fx8z5NXT2E/sv0DQ8ubXy9CZpGJ9tjR3VTEcV5I3/xpH6pST2bL/hP" crossorigin="anonymous"></script>